{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    {% if status %}
    <div id="status" class="alert alert-success">{{ status }}</div>
    {% endif %}
    {% if statusError %}
    <div id="status" class="alert alert-danger">{{ statusError }}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <center><h2>{{formtitle}}</h2></center>
            <form action="." method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="row">
                    <div class="col-xs-4"><label class="form-control-label">{{field.label}}</label></div>
                    <div class="col-xs-8">{{ field | add_class:"form-control" }}</div>
                </div>
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-success btn-group-justified" />
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}
