{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap -->
<link href="{{ STATIC_PREFIX }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_PREFIX }}css/rooftop.css" rel="stylesheet">
<script src="{{ STATIC_PREFIX }}js/jquery-2.1.4.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/bootstrap-editable.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/rooftop.js"></script>
<title>RoofTop</title>
</head>
<body>

{% include "navbar.html" %}

<div class="container container-fluid">
{% block content %}{% endblock %}

</body>

</html>