{% extends "base.html" %}
{% load widget_tweaks %}
{% block alerts %}
    {% if status %}
    <div id="status" class="alert alert-success">Saved</div>
    {% else %}
    <div id="status" class="alert alert-danger">An error appeared</div>
    {% endif %}
{% endblock %}
{% block header %}{{formtitle}}{% endblock %}
{% block content %}
    <form action="." method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
            <div class="col-xs-4"><label class="form-control-label">{{field.label}}</label></div>
            <div class="col-xs-8">{{ field | add_class:"form-control" }}</div>
        </div>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-success btn-group-justified" />
    </form>
{% endblock %}
