<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
            <img alt="Brand" height="25" src="{{ STATIC_PREFIX }}img/rooftop.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            {% for group in groups %}
            {% if group.external %}
            <li class="navlinks"><a target="_blank" href="{{group.link}}"><span class="glyphicon {{group.icon}}"></span> {{group.name}}</a></li>
            {% else %} 
            <li class="navlinks"><a href="{{group.link}}"><span class="glyphicon {{group.icon}}"></span> {{group.name}}</a></li>
            {% endif %}
            {% endfor %}
            <li class="divider"></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
              {% if displayname %}
              <p class="navbar-text">Signed in as {{displayname}} <a class="navbar-link" href="/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></p>        
              {% endif %}
          </li>
      </ul>
  </div>
</div>
</nav>