{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    {% if status %}
    <div id="status" class="alert alert-success">
        <strong>Success!</strong> {{ status }}
        <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-close"></i></a>
    </div>
    {% endif %}
    {% if statusError %}
    <div id="status" class="alert alert-danger">
        <strong>Error!</strong> {{ statusError }}
        <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-close"></i></a>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 jumbotron text-center">
            <h2>Change Password</h2>
            <form action="." method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="row">
                        <div class="col-xs-4 text-right"><label class="form-control-label">{{field.label}}</label></div>
                        <div class="col-xs-8">{{ field | add_class:"form-control" }}</div>
                    </div>
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-success btn-group-justified" />
            </form>
        </div>
    </div>
{% endblock %}